<ion-view title="Dizionario" id="page2">
  <ion-content padding="true" class="has-header">





      <div class="row">
          <div class="col">
              <ion-list id="dizionario-list1">
                  <ion-item id="dizionario-list-item1" ui-sref="tabsController.alephListaNomi()">A - a</ion-item>
                </ion-list>
          </div>
          <div class="col">
              <ion-list id="dizionario-list1">
                  <ion-item id="dizionario-list-item1" ui-sref="tabsController.bethListaNomi()">B - b</ion-item>
                </ion-list>
          </div>
          <div class="col">
              <ion-list id="dizionario-list1">
                  <ion-item id="dizionario-list-item1" ui-sref="tabsController.ghimelListaNomi()">C - c</ion-item>
                </ion-list>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <ion-list id="dizionario-list1">
                    <ion-item id="dizionario-list-item1" ui-sref="tabsController.dListaNomi()">D - d</ion-item>
                  </ion-list>
            </div>
            <div class="col">
                <ion-list id="dizionario-list1">
                    <ion-item id="dizionario-list-item1" ui-sref="tabsController.eListaNomi()">E - e</ion-item>
                  </ion-list>
            </div>
            <div class="col">
                <ion-list id="dizionario-list1">
                    <ion-item id="dizionario-list-item1" ui-sref="tabsController.fListaNomi()">F - f</ion-item>
                  </ion-list>
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <ion-list id="dizionario-list1">
                      <ion-item id="dizionario-list-item1" ui-sref="tabsController.gListaNomi()">G - g</ion-item>
                    </ion-list>
              </div>
              <div class="col">
                  <ion-list id="dizionario-list1">
                      <ion-item id="dizionario-list-item1" ui-sref="tabsController.hListaNomi()">H - h</ion-item>
                    </ion-list>
              </div>
              <div class="col">
                  <ion-list id="dizionario-list1">
                      <ion-item id="dizionario-list-item1" ui-sref="tabsController.iListaNomi()">I - i</ion-item>
                    </ion-list>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <ion-list id="dizionario-list1">
                        <ion-item id="dizionario-list-item1" ui-sref="tabsController.jListaNomi()">J - j</ion-item>
                      </ion-list>
                </div>
                <div class="col">
                    <ion-list id="dizionario-list1">
                        <ion-item id="dizionario-list-item1" ui-sref="tabsController.kListaNomi()">K - k</ion-item>
                      </ion-list>
                </div>
                <div class="col">
                    <ion-list id="dizionario-list1">
                        <ion-item id="dizionario-list-item1" ui-sref="tabsController.lListaNomi()">L - l</ion-item>
                      </ion-list>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <ion-list id="dizionario-list1">
                          <ion-item id="dizionario-list-item1" ui-sref="tabsController.mListaNomi()">M - m</ion-item>
                        </ion-list>
                  </div>
                  <div class="col">
                      <ion-list id="dizionario-list1">
                          <ion-item id="dizionario-list-item1" ui-sref="tabsController.nListaNomi()">N - n</ion-item>
                        </ion-list>
                  </div>
                  <div class="col">
                      <ion-list id="dizionario-list1">
                          <ion-item id="dizionario-list-item1" ui-sref="tabsController.oListaNomi()">O - o</ion-item>
                        </ion-list>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ion-list id="dizionario-list1">
                            <ion-item id="dizionario-list-item1" ui-sref="tabsController.pListaNomi()">P - p</ion-item>
                          </ion-list>
                    </div>
                    <div class="col">
                        <ion-list id="dizionario-list1">
                            <ion-item id="dizionario-list-item1" ui-sref="tabsController.qListaNomi()">Q - q</ion-item>
                          </ion-list>
                    </div>
                    <div class="col">
                        <ion-list id="dizionario-list1">
                            <ion-item id="dizionario-list-item1" ui-sref="tabsController.rListaNomi()">R - r</ion-item>
                          </ion-list>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <ion-list id="dizionario-list1">
                              <ion-item id="dizionario-list-item1" ui-sref="tabsController.sListaNomi()">S - s</ion-item>
                            </ion-list>
                      </div>
                      <div class="col">
                          <ion-list id="dizionario-list1">
                              <ion-item id="dizionario-list-item1" ui-sref="tabsController.tListaNomi()">T - t</ion-item>
                            </ion-list>
                      </div>
                      <div class="col">
                          <ion-list id="dizionario-list1">
                              <ion-item id="dizionario-list-item1" ui-sref="tabsController.uListaNomi()">U - u</ion-item>
                            </ion-list>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ion-list id="dizionario-list1">
                                <ion-item id="dizionario-list-item1" ui-sref="tabsController.vListaNomi()">V - v</ion-item>
                              </ion-list>
                        </div>
                        <div class="col">
                            <ion-list id="dizionario-list1">
                                <ion-item id="dizionario-list-item1" ui-sref="tabsController.wListaNomi()">W - w</ion-item>
                              </ion-list>
                        </div>
                        <div class="col">
                            <ion-list id="dizionario-list1">
                                <ion-item id="dizionario-list-item1" ui-sref="tabsController.xListaNomi()">X - x</ion-item>
                              </ion-list>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <ion-list id="dizionario-list1">
                                  <ion-item id="dizionario-list-item1" ui-sref="tabsController.yListaNomi()">Y - y</ion-item>
                                </ion-list>
                          </div>
                          <div class="col">
                              <ion-list id="dizionario-list1">
                                  <ion-item id="dizionario-list-item1" ui-sref="tabsController.zListaNomi()">Z - z</ion-item>
                                </ion-list>
                          </div>
                        </div>
 
    
     
      
      
      
  </ion-content>
</ion-view>
