<ion-view title="V lista nomi" id="page255">
  <ion-content padding="true" class="has-header">
    <form id="VListaNomi-form1" class="list">
      <label class="item item-input" id="vListaNomi-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>

    <ion-item id="vListaNomi-list-item2" ui-sref="vtutorial({&quot;videokey&quot;:&quot;&quot;+vtutorial.key+&quot;&quot;})" ng-repeat="vtutorial in narrowed_vtutorials">{{vtutorial.termine}} - {{vtutorial.traslitterazione}}</ion-item>
 
   
       
  </ion-content>
</ion-view>